@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.eot);
    src: url(../fonts/Poppins-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Poppins-Regular.woff2) format('woff2'),
    url(../fonts/Poppins-Regular.woff) format('woff'),
    url(../fonts/Poppins-Regular.ttf) format('truetype'),
    url(../fonts/Poppins-Regular.svg#Poppins-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}

header{
    padding: 24px;
    background: #181818;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-left: 32px;
}

header nav li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

header nav ul li:first-of-type{
    margin-right: 24px;
}

header nav ul li:first-of-type a{
    font-size: 13px;
}

header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
}

.main_banner {
    background-image: url('../images/backgr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}

.banner_text {
    max-width: 600px;
    text-align: center;
}

.main_banner h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner h1 {
    padding-bottom: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}

.main_banner p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.fixed_information li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/timer.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}

.fixed_information li:nth-child(2):before {
    background-image: url("../images/circle.svg");
}

.fixed_information li:nth-child(3):before {
    background-image: url("../images/iso.svg");
    width: 32px;
}

.fixed_information li:nth-child(4):before {
    background-image: url("../images/Fill-1.svg");
    width: 10px;
}

.fixed_information {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.fixed_information li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}

.portfolio {
    background-image: url("../images/mount.jpg");
    min-height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portfolio_text{
    max-width: 298px;
    margin-right: 62px;
}

.portfolio_text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.portfolio_text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}


.past_clients,.for_you{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #000000;
}

.past_clients_text {
    max-width: 1200px;
    margin: auto;
}

.past_clients h3,.for_you h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.past_clients p,.for_you p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}

.past_clients p {
    margin-top: 15px;
    margin-bottom: 42px;
 }

.past_clients_icons {
    max-width: 1168px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 46px;
}
.owl-carousel .owl-item img{
    max-width: 128px;
    margin: auto;
    height: 100px;
    position: relative;
}

.for_you_info {
    margin: auto;
    text-align: center;
}

.for_you p {
    margin-top: 15px;
    margin-bottom: 22px;
}

.for_you a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
}

.for_you a:before {
    content: "";
    display: inline-block;
    background-image: url("../images/get in touch.svg");
    width: 32px;
    height: 32px;
    margin-right: 6px;
    position: relative;
    top: 10px;
}

.owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin-right: 20px;
}

.owl-dot.active span{
    width: 30px;
    height: 30px;
}




.owl-dots{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}


